# tratamento de dados categóricos

In [13]:
import pandas as pd
from sklearn.preprocessing import OrdinalEncoder
from ucimlrepo import fetch_ucirepo
car_evaluation = fetch_ucirepo(id=19)
features = car_evaluation.data.features
targets = car_evaluation.data.targets


df_car = pd.concat([features, targets], axis=1)

ordinal_encoder = OrdinalEncoder()

df_car_encoded = df_car.copy()
df_car_encoded[df_car.columns] =ordinal_encoder.fit_transform(df_car[df_car.columns])
df_car_encoded

      buying  maint  doors  persons  lug_boot  safety  class
0        3.0    3.0    0.0      0.0       2.0     1.0    2.0
1        3.0    3.0    0.0      0.0       2.0     2.0    2.0
2        3.0    3.0    0.0      0.0       2.0     0.0    2.0
3        3.0    3.0    0.0      0.0       1.0     1.0    2.0
4        3.0    3.0    0.0      0.0       1.0     2.0    2.0
...      ...    ...    ...      ...       ...     ...    ...
1723     1.0    1.0    3.0      2.0       1.0     2.0    1.0
1724     1.0    1.0    3.0      2.0       1.0     0.0    3.0
1725     1.0    1.0    3.0      2.0       0.0     1.0    2.0
1726     1.0    1.0    3.0      2.0       0.0     2.0    1.0
1727     1.0    1.0    3.0      2.0       0.0     0.0    3.0

[1728 rows x 7 columns]

## treinamento

In [24]:
from sklearn.model_selection import train_test_split
Y = df_car_encoded["class"]
X = df_car_encoded.loc[:, df_car_encoded.columns != "class"]

x_train, x_test, y_train, y_test = train_test_split(X, Y,test_size=0.3)

y_train

450     2.0
404     0.0
276     2.0
777     2.0
731     2.0
       ...
1130    3.0
513     2.0
221     2.0
1368    2.0
744     2.0
Name: class, Length: 1209, dtype: float64